
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/LayoutThemed2.cshtml";
}

@section styles{
    
  <style>

.formDiv {
    /*margin: auto 0;*/
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: lightgreen;
    padding-bottom: 10px;
}
    .fruitColor {
        color: red;
        font-style:italic; 
    }

    #fruitImage {
        max-width: 200px;
    }
    </style>
    
    
    
    
    }

<div ng-controller="fruitController as fruit">
   
        
       

        <div class="row isotope">
            
            <div class="col-md-6 col-md-offset-3 formDiv">
                <h2>Add a <span class="fruitColor">Fruit!</span></h2>

                <form name="fruit.fruitForm" ng-submit="fruit.onFruitSubmit()" novalidate>

                    <div role="alert" class="help-inline error">
                        <span class="error" ng-show="fruit.showErrors && fruit.fruitForm.$error.required">A name is required</span>
                        <span class="error" ng-show="fruit.showErrors && fruit.fruitForm.$error.maxlength">50 character max</span>
                    </div>

                    <div class="form-group">
                        <label for="email">Fruit name:</label>
                        <input type="text" class="form-control" id="fruitName" ng-maxlength="50" ng-model="fruit.data.name" required>
                    </div>

                    <div class="form-group" ng-hide="fruit.afterUploadSuccess">
                        <label for="fruitFile">Upload:</label>
                        <input type="file" name ="fruitUpload" id="fruitFile">
                    </div>
                        
                    <div class="form-group" ng-show="fruit.afterUploadSuccess" id="fruitImage">
                        <h1>{{fruit.data.name}}!!!!!!</h1>
                        <img ng-src="{{fruit.data.image}}" />
                    </div>  
                               
                    <button type="submit" class="btn btn-success">{{fruit.submitForm}}</button>
                    <button type="button" class="btn btn-warning" ng-click="fruit.onClearForm()" ng-show="fruit.afterUploadSuccess">Add Another fruit!</button>

                </form>  
                           
            </div>

            <p>test test test</p>

        </div>


   
</div>



@section scripts {
    <script src="~/Scripts/services/uploads.js"></script>
    <script src="~/Scripts/services/fruit.js"></script>

    <script>

        (function () {

            angular.module("app").controller("fruitController", FruitController);

            FruitController.$inject = ['$log', 'uploadsService', 'fruitService'];

            function FruitController($log, uploadsService, fruitService) {
             
                //variables
                var vm = this;
                vm.$log = $log;
                vm.uploadsService = uploadsService;
                vm.fruitService = fruitService;
                vm.submitForm = "Submit";
                vm.showErrors = false;

                
                //functions
                vm.onFruitSubmit = _onFruitSubmit;
                vm.onClearForm = _onClearForm;


                function _onClearForm() {
                    vm.submitForm = "Submit";
                    vm.afterUploadSuccess = false;
                    vm.data = {};
                }

                function _onFruitSubmit() {

                    vm.showErrors = true;
                    if (vm.fruitForm.$valid) {
                        vm.fileInput = angular.element('input[type=file]');
                        vm.fileAsFormData = new FormData();
                        vm.fileForUpload = vm.fileInput.get(0).files;

                        for (var i = 0; i < vm.fileForUpload.length; i++) {
                            var fileObject = vm.fileForUpload[i];
                            vm.fileAsFormData.append(i, fileObject);
                        }
                        vm.eventConfig = {
                            headers: {
                                'Content-Type': undefined
                            }
                        }
                        vm.uploadsService.create(vm.fileAsFormData).then(_onFileUploadSuccess, _onFileUploadError);
                    }
                 
                }

                function _onFileUploadSuccess(response) {
                    vm.$log.debug("success, see!?", response);
                    vm.data.image = response.data.Item;
                    vm.data.userId = 'admin123';

                    vm.fruitService.create(vm.data).then(_onFruitCreateSuccess, _onFruitCreateError);

                }

                function _onFileUploadError() {
                    vm.$log.debug("error uploading file");
                }


                function _onFruitCreateSuccess(data) {
                    vm.afterUploadSuccess = true;
                    vm.submitForm = "Edit";
                    vm.$log.debug("fruit create success!: ", data);
                }

                function _onFruitCreateError() {
                    vm.$log.debug("Error creating fruit :(");
                }

            }

        }());

    </script>





}
